
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #333;
    padding: 10px 20px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a img {
    height: 50px;
}

.nav-links ul {
    display: flex;
    gap: 20px;
}

.nav-links ul li a {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #ff6347;
}


.carousel-inner img {
    object-fit: cover;
    height: 500px;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.carousel-caption p {
    font-size: 1.2rem;
}


.enter {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}

.enter .portada {
    width: 80%;
    margin-bottom: 20px;
}

.enter .reseña {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}


.tag {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}

.tag .generos {
    font-size: 2rem;
    margin-bottom: 20px;
}

.tag ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag ul li {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 20px;
}

.tag ul li a {
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s;
}

.tag ul li a:hover {
    background-color: #ff6347;
}




.lista {
    padding: 20px;
}

.lista h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.lista ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.lista li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.lista h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.lista p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    flex-grow: 1;
}

.lista a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.lista a:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 40px 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 20px;
}
